/* #box{
            background-color: blue;
        } */


        /* Question 2 */

 /* *{
    color: red;
 }        */

/* .heading{
    color: red;
} */

/* h1,h2,h3{
    color: red;
} */


        /* question 3 */
/* button{
    background-color: green;
} */

